body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("pic1.jpeg");
  background-size: cover;
  background-position: center;
}
.polymorph {
  fill: rgba(45, 32, 165, 0.5);
}
#btn,
#btn2 {
  position: absolute;
  margin: 10em auto 0 auto;
  left: 0;
  right: 0;
  width: 30%;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  outline: 0;
  transition: 0.6s;
}
#btn2 {
  width: auto;
  margin: 30px auto;
  background: rgba(45, 32, 165, 0.5);
}

#btn2:hover {
  color: rgba(45, 32, 165, 0.8);
  background: transparent;
}
#btn:hover {
  color: rgba(45, 32, 165, 0.9);
  background: #fff2;
}
h3 {
  font-size: 2.5em;
  color: rgba(45, 32, 165, 0.9);
}
p {
  font-size: 1.3em;
  color: #fff;
}
#box {
  position: absolute;
  right: 10%;
  width: 35%;
  top: 0;
  opacity: 0;
  transform: translateY(-800px);
}
